form {
  padding: 20px;
  text-align: center;
}
body{
  background-image: url(back3.jpg);
}

h1{
  text-align: center;
  color: rgb(48, 52, 53);
}


label {
  display: block;
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"]
 {
  padding: 10px;
  font-size: 16px;
  width: 40%;
  margin-bottom: 20px;
  border-radius: 20px;
  border: 20%;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: rgb(47, 175, 214);
  color: white;
  width: 30%;
  padding: 10px 20px;
  border-radius: 20px;
  border: white;
  cursor: pointer;
}

textarea{
  border-radius: 20px;
  background-color: rgb(255, 249, 240);
}
